body {
  margin: 0;
  font-family: Arial, Helvetica, Tahoma, Verdana, sans-serif;
  font-size: 14px;
}

#principal {
  width: 1200px;
  height: auto;
  background: #ccc;
  margin: 0 auto;
}

#topo {
  width: 100%;
  height: 100px;
  background: #c1c1c1;
}

#logotipo {
  width: 100px;
  height: 100px;
  /* background: #f2f2f2; */
  float: left;
}

#logotipo img {
  max-width: 100px;
  height: auto;
}

#slogan {
  width: 1100px;
  height: 100px;
  text-align: right;
  line-height: 100px;
  float: right;
}

#slogan p {
  margin: 0 20px;
  font-size: 20px;
}

#menu {
  width: 100%;
  height: 50px;
  background: #f1f1f1;
}

#menu ul {
  margin: 0;
  padding: 0;
}

#menu ul li {
  float: left;
  list-style: none;
}

a.linkmenu:link, a.linkmenu:visited {
  width: 200px;
  height: 50px;
  display: block;
  color: #000;
  background: #a8a8a8;
  line-height: 50px;
  text-decoration: none;
  text-align: center; 
  text-transform: uppercase;
}

a.linkmenu:hover, a.linkmenu:active {
  background: #949494;
  color: #fff;
}

a.linksocial:link, a.linksocial:visited {
  width: 32px;
  height: 32px;
  display: block;
  margin: 9px;
  box-shadow: 1px 1px 5px #ccc;
}

#conteudo {
  width: 100%;
  min-height: 300px;
}

#areaconteudo {
  width: 73%;
  min-height: 300px;
  float: left;
  padding: 1%;
}

#barralateral {
  width: 23%;
  min-height: 300px;
  float: left;
  padding: 1%;
}

#rodape {
  width: 100%;
  height: 50px;
  background: #949494;
  line-height: 50px;
}

#copy, #dev {
  width: 48%;
  height: 50px;
  float: left;
}

#copy {
  padding-left: 2%;
}

#dev {
  padding-right: 2%;
  text-align: right;
}

.clearfix {
  clear: both;
}

/* EMPRESA */
.cabecalho {
  text-align: center;
}

.empresa {
  width: 48%;
  padding: 1%;
  min-height: 300px;
  float: left;
}

#quemsomos img {
  float: left;
}

/* SERVIÇOS */
.servico {
  width: 31.33%;
  padding: 1%;
  min-height: 300px;
  text-align: center;
  float: left;
}

.servico img {
  max-width: 120px;
  height: auto;
}

a.saibamais:link, a.saibamais:visited {
  display: block;
  width: 100px;
  height: 40px;
  text-decoration: none;
  background: #f2f2f2;
  line-height: 40px;
  color: #000;
  margin: 0 auto;
  text-shadow: 1px 1px 5px #949494;
}

a.saibamais:hover, a.saibamais:active {
  box-shadow: 1px 1px 10px #000;
}

/* CONTATO */
.contato {
  width: 50%;
  min-height: 300px;
  float: right;
}

#mapa iframe {
  width: 100%;
  height: 300px;
}

.legenda {
  display: block;
  width: 100px;
  height: 20px;
  float: left;
  text-align: right;
  margin-right: 10px;
}

.campo {
  width: 300px;
  height: 30px;
}

.texto {
  width: 300px;
  height: 60px;
  resize: none;
}

.botao {
  margin-left: 230px;
  /* transform: translate(230px); */
}

/* PORTFÓLIO */
#mini {
  width: 220px;
  height: 600px;
  float: left;
  overflow: auto;
}

#grande {
  width: 980px;
  height: 600px;
  float: left;
}

#grande iframe {
  width: 800px;
  height: 600px;
  margin: 0 auto;
  display: block;
}