body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    background-color: rgb(20,20,20);
}

#principal {
    width: 1200px;
    height: auto;
    margin: 0 auto;
}

#topo {
    width: 1200px;
    height: 80px;
    margin-bottom: 10px;
    background-color: rgb(30,30,30);
}

#titulo {
    width: 1000px;
    height: 80px;
    display: block;
}

#titulo h1, h2 {
    margin: 0;
}

#titulo h1 {
    font-size: 40px;
    color: rgb(255,245,0);
    text-align: center;
}

#titulo h2 {
    font-size: 14px;
    color: rgb(255,245,0);
    text-align: center;
}

#logo {
    width: 100px;
    height: 80px;    
    float: left;
}

#logo img {
    width: 100px;
    height: 80px;
}

nav.menu-lateral {
    width: 100px;
    height: 100%;
    padding: 40px 0 40px 1%;
    background-color: rgb(30,30,30);
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: .5s;
    margin-top: 80px;
}

/* Muda o tamanho da width do menu-lateral, o expandindo ao colocar o mouse por cima ou clicando no icone de expanção */
nav.menu-lateral:hover {
    width: 300px;
}

nav.menu-lateral.expandir {
    width: 300px;
}

.btn-expandir {
    width: 100px;
    float: left;
    text-align: center;
    line-height: 80px;
}

.btn-expandir > i {
    color: rgb(255,255,255);
    font-size: 50px;
    cursor: pointer;
}

ul {
    height: 100%;
    list-style: none;
}

ul li.item-menu a {
    color: rgb(255,255,255);
    text-decoration: none;
    font-size: 20px;
    cursor: pointer;
    padding: 20px 4%;
    display: flex;    
    margin-bottom: 20px;
    line-height: 40px;
}

ul li.item-menu a .txt-link {
    margin-left: 20px;
}

ul li.item-menu a .icon > i {
    font-size: 40px;
}

#ima img {
    width: 40px;
    height: 40px;
}

#rodape {
    width: 1200px;
    height: 50px;
    color: rgb(255,245,0);
}

#copy {
    width: 595px;
    height: 50px;
    float: left;
    margin-right: 5px;
    line-height: 50px;
    text-align: center;
}

#dev {
    width: 595px;
    height: 50px;
    float: left;
    margin-right: 5px;
    line-height: 50px;
    text-align: center;
}

.clearfix {
    clear: both;
}